<!DOCTYPE html>
{% extends 'index.html' %}
{% block title %}O nás{% endblock title %}
{% block content %}
    <div class="content">
        <span>
            Učení je někdy disciplína na úrovni extrému. Ať už jde o noční učení s kámošem na Discordu před termínem, odkládání povinností do poslední možné minuty nebo zoufalý lov poživatelného jídla ve dvě hodiny ráno, jedna věc je jistá: student bez jídla je jako notebook bez nabíječky – na baterky.
            A právě proto jsme tady. <br>
            Jsme komunita studentů, kteří si uvědomili, že „Co budu jíst?“ je nejčastější otázka během učení – hned po „Má to smysl?“. Vytvořili jsme místo, kde si můžete zapisovat své oblíbené recepty, sdílet kulinářské experimenty z mikrovlnky a objevovat nápady na jídla, která: <br>
            - se dají připravit během přestávky mezi kapitolami, <br>
            - vás finančně nezruinují, <br>
            - se neskládají ze surovin: energeťák nebo Wolt/Foodora, <br>
            - zvládnete i s dovednostmi typu „umím zapnout troubu… asi“, <br>
            - a hlavně – dodají energii na další studijní maraton. <br>
            Chceme ukázat, že studentské vaření nemusí být jen instantní nudle, tousty, to co mi maminka uvařila o víkendu a „něco, co jsem dneska našel v lednici“. I s minimem času, peněz a zkušeností se dá uvařit něco, co je rychlé, dobré a nezpůsobí požární poplach. <br>
            Tento web je pro všechny, kdo rádi jedí při učení nebo prostě jen hledají místo, kde si uspořádají recepty tak, aby je už nemuseli lovit v poznámkách, zprávách a zmačkaných papírkách nebo nemuseli otravovat maminku. <br>
            Takže vítej! <br>
            Pohodlně se usaď, otevři skripta nebo Polyglota a hlavně: nezapomeň se najíst.
            Protože hladový mozek toho moc nenaučí – a hladový student už vůbec ne. <br>
        </span>
    </div>
{% endblock content %}