# vscode
.vscode/
.DS_Store

# GitHub
.github/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# .NET
bin/
obj/
.vs/
*.user
*.suo
UnitTest.cs

# Swift
*.xcodeproj/
*.xcassets/

# C
# Executables
*.out
*/builds/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb